<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joboui">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JoboUi">
        <activity
            android:name=".login.ServiceProviderAdditionalActivity"
            android:exported="true" />
        <activity
            android:name=".tutorial.TutorialActivity"
            android:exported="true" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".login.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".services.ServiceViewActivity"
            android:exported="true"
            android:label="@string/title_activity_service_view"
            android:theme="@style/Theme.JoboUi.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>